/* Full-screen vertical stack flexbox layout. */
html {
  overflow-x: hidden; /* Vertical-scroll only (auto). */
}
body {
  margin: 0;
}
html,
body,
#app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
